111
<h1>字数统计</h1>
<form action="count">
    <textarea cols="100" rows="25" name="text">在此处输入文字</textarea>
    <br>看海阔云高波澜生

人说江湖浪涌

最多无畏的人

来三钱热酒买我的心魂

教山川颠倒 教地裂天崩

这天地我来撑

快平生

刀 斩风斩雨斩鲲鹏

扶摇翼随我身

阴谋诡计里耍一阵

也自纵横

路 伤己伤彼不伤仁

从来情义难全难分

心上 总有疤痕

云破月白剑出那一瞬

至颈侧轻吻

胜负一触即分

生死只在方寸

风息花无声

花月无声饮人恨

待我撕开半里

这晨昏的乾坤

三尺青光轮转洗烟尘

喝最烈的酒 恋最美的人

看海阔云高波澜生

人说江湖浪涌

最多无畏的人

来三钱热酒买我的心魂

教山川颠倒 教地裂天崩

这天地我来撑

待我撕开半里

这晨昏的乾坤

三尺青光轮转洗烟尘

喝最烈的酒 恋最美的人

看海阔云高波澜生

人说江湖浪涌

最多无畏的人

来三钱热酒买我的心魂

教山川颠倒 教地裂天崩

这天地我来撑

快平生
    <input type="submit" value="统计">
</form>
